<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Scenarios</h1>

  <p>A 'Scenario card' comes in three types, The 'Battlefield' cards, the 'Primary Objective' cards and the 'Denizens of
    the Land' cards.
    Each player should have selected 2 of each type of card for a total of 6 cards.</p>

  <h3>Battlefield</h3>
  <p>The scenario card provides a detailed description of what type and where the terrain elements for the battlefield
    are setup.
    Along with the terrain, this card also details the location of any other fixed elements on the map such as objective
    zones,
    objective points, player encampments, resources elements and neutral monster emplacements (for whatever neutral
    monsters are selected via the Denizens card).
  </p>

  <h3>Primary Objective</h3>
  <p>This card details which objectives besides the fixed objectives are in play,
    this would typically be objectives that needs to be collected and brough back to a players encampment in order to
    score points.
    This card also details the escalation level,
    that means the amount of requisition points each player receives at the start of each round, including the first.
  </p>

  <h3>Denizens of the Land</h3>
  <p>This card describes the strengths, numbers and potential rewards of the neutral monsters to be placed at the
    neutral monster emplacements.
  </p>
</div>
