<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Scenarios</h1>

  <p>A 'Scenario card' comes in three types, The 'Battlefield' cards, the "Spoils of War
    Objective" and the 'Denizens of
    the Land' cards.
    Each player should have selected 2 of each type of card for a total of 6 cards.</p>

  <h3>Battlefield</h3>
  <p>The scenario card provides a detailed description of what type and where the terrain elements for the battlefield
    are setup.
    Along with the terrain, this card also details the location of any other fixed elements on the map such as player
    encampments and resources elements
    This card also details the escalation level for the battle, that means the amount of requisition points each player
    has available to build their forces with
    and also how many reinforcements they receives at the start of each round after the first.
  </p>

  <h3>Primary Objective</h3>
  <p>This card details which fixed objectives are in play and their special rules
  </p>

  <h3>Spoils of War Objective</h3>
  <p>This card describes any objectives that must be retrieved from the battlefield and either held during the battle or
    brought back to your encampment</p>

  <h3>Denizens of the Land</h3>
  <p>This card describes the strengths, numbers, placement and potential rewards of the neutral monsters to be placed at the
    neutral monster emplacements.
  </p>
</div>
