<div class="ml-1">



  <h3>
    A unit has a profile which consists of the following stats:
  </h3>

  <table>
    <tr>
      <th>
        Item
      </th>
      <th>
        Description
      </th>
    </tr>

    <tr>
      <td>Movement</td>
      <td>Movement in inches</td>
    </tr>
    <tr>
      <td>Attack - Range</td>
      <td>Melee or Ranged</td>
    </tr>
    <tr>
      <td>Attack - Dice</td>
      <td>Number of dice rolled / number of dice picked</td>
    </tr>
    <tr>
      <td>Attack - Attacks</td>
      <td>Numbers of attacks it can do each activation</td>
    </tr>
    <tr>
      <td>Attack - Rend</td>
      <td>The amount of Resilience it can ignore when doing attacks</td>
    </tr>
    <tr>
      <td>Attack - Charge Bonus</td>
      <td>The bonus dice given on the turn of a charge</td>
    </tr>
    <tr>
      <td>Attack - Flank Bonus</td>
      <td>The bonus dice given when flanking an enemy unit</td>
    </tr>

    <tr>
      <td>Defence - melee / shooting / magic</td>
      <td>Reduces the amount of hits by a set amount</td>
    </tr>
    <tr>
      <td>Resilience</td>
      <td>The amount of damage subtracted whenever damage is dealt to the unit</td>
    </tr>
    <tr>
      <td>Hit Points</td>
      <td>How many damage points each model can take before it is removed</td>
    </tr>

    <tr>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>






  Hit Points
  How many damage points each model can take before it is removed
  Combat track
  The available options when a unit has reached a certain amount of hits against an enemy
  Requstion points
  The requisition cost of the unit in command points, used when spawning the unit during the battle.
  Leveling ability
  Units can gain new abilities by paying experience points, these each have a cost in experience points and an ability
  text
  Battlefield objective
  A description of the steps necessary for the unit to score VP by completing some actions.

</div>
