<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h3>
    A unit has a profile which consists of the following stats:
  </h3>

  <table>
    <tr>
      <th>
        Stat
      </th>
      <th>
        Description
      </th>
    </tr>

    <tr>
      <td>Movement / Charge Movement</td>
      <td>The max movement allowance when moving or charging</td>
    </tr>
    <tr>
      <td>Attack - Range</td>
      <td>Melee or Ranged</td>
    </tr>
    <tr>
      <td>Attack - Dice</td>
      <td>Number of dice rolled / number of dice picked</td>
    </tr>
    <tr>
      <td>Attack - Attacks</td>
      <td>Numbers of attacks it can do each activation</td>
    </tr>
    <tr>
      <td>Attack - Rend</td>
      <td>The amount of Resilience it can ignore when doing attacks</td>
    </tr>
    <tr>
      <td>Attack - Charge Bonus</td>
      <td>The bonus dice given on the turn of a charge</td>
    </tr>
    <tr>
      <td>Attack - Flank Bonus</td>
      <td>The bonus dice given when flanking an enemy unit</td>
    </tr>

    <tr>
      <td>Defence - melee / shooting / magic</td>
      <td>Reduces the amount of hits by a set amount</td>
    </tr>
    <tr>
      <td>Resilience</td>
      <td>The amount of damage subtracted whenever damage is dealt to the unit</td>
    </tr>
    <tr>
      <td>Hit Points</td>
      <td>How many damage points each model can take before it is removed</td>
    </tr>

    <tr>
      <td>Combat track</td>
      <td>The available options when a unit has reached a certain amount of hits against an enemy</td>
    </tr>

    <tr>
      <td>Requstion points</td>
      <td>The requisition cost of the unit, used when recruiting the unit during the battle.</td>
    </tr>

    <tr>
      <td>Leveling ability</td>
      <td>Units can gain new abilities by paying experience points, these each have a cost in experience points and an
        ability text.</td>
    </tr>

    <tr>
      <td>Battlefield objective</td>
      <td>A description of the steps necessary for the unit to score VP by completing some action.</td>
    </tr>
  </table>

</div>
