<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h2>Comabt Orders</h2>

  <p class="cursive">
    These orders can be given to units even if they already have recieved a normal order.
  </p>
  <p>
    Combat orders affects the units combat performance in the ensuing combat phase and are then discarded.
  </p>

  <table>
    <tr>
      <th>
        Order Name
      </th>
      <th>
        Cost
      </th>
      <th>
        Effect
      </th>
    </tr>

    <tr>
      <td>Press the attack</td>
      <td>1 CP</td>
      <td>
        <p class="cursive">Makes the unit fight harder and more reckless, gives a bonus to damage and a push ability,
          but at the cost of defensive capability.</p>
        <p>
          The unit can select a damage track one level above what was rolled and in addition gets a 1” push effect in
          addition to any other effects. The units suffers -1/-1/-0 defence this phase.
        </p>
      </td>
    </tr>

    <tr>
      <td>Give ground</td>
      <td>1 CP</td>
      <td>
        <p class="cursive">Makes the unit fight defensively, increasing defence, but lowering damage output and slowly
          retreats away from the enemy, giving them a chance to follow up.
        </p>
        <p>The unit gets -0/-1 attack and deals -1 damage, its defence is increased by +2/+0/+0 and the enemy unit may
          push it 1”.
        </p>
      </td>
    </tr>

    <tr>
      <td>Regroup</td>
      <td>1 CP</td>
      <td>
        Move a flank token from one unit this model is engaged with to another.
      </td>
    </tr>

    <tr>
      <td>Hold Ground</td>
      <td>1 CP</td>
      <td>
        Makes the unit hold its ground, at the cost of offence, but with no added defence
        The units gets -0/-1 attack, but is immune to the effects of push for this phase.
      </td>
    </tr>

    <tr>
      <td>Retreat</td>
      <td>1 CP</td>
      <td>
        <p class="cursive">Makes the unit give ground, lowering both defence and offence, but makes the unit disengage
          and flee after the round of fighting.</p>
        <p>The unit gets -0/-2 attack and deals -1 damage, Its defence is decreased by -2/-2/-0, but at the end of the
          phase, the unit can make an advance away from the closest enemy model.
        </p>
      </td>
    </tr>
  </table>
</div>
