<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Legendary Heroes</h1>

  <p class="cursive">Some units are marked as Legendary Heroes, these are typically much more powerful than their cost would indicate, they do come with a condition and a drawback though</p>

  <p>Legendary units can only be recruited if the opposing player is 3 VP ahead of you.</p>
  <p>If a legendary unit is ever killed or in another way removed from the battlefield, you lose the game.</p>
</div>
