<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Terrain</h1>

  <h2>Forest</h2>
  <p>
    Blocks line of sight. Units only partially inside the
    forest can be seen (and by then, targeted by ranged attacks).
    Infantry units moving across suffers -1” movement, cavalry units suffer -2” movement.
    Units within a forest gains +2/+2/+0 defence except if they have charged during the preceding turn.
  </p>

  <h2>Deep Lake</h2>
  <p>Blocks movement for all non-flying models</p>

  <h2>Swamp</h2>
  <p>Caps movement at 3” max for all non-flying models</p>
  <p>Units inside a swamp suffers -2/-2/-1 defence and -1-/0 attack</p>

  <h2>Hills</h2>
  <p>Blocks line-of-sight to non-flying units behind the hill.</p>
  <p>Units on the hill gain +1/+2/+0 defence and +1/+0 attack. Non-flying ranged units also gain +4” range.</p>
  <p>Non-Flying charging units starting their charge completely on the hill also gain +2” movement if they end their movement no
    longer completely on the hill.</p>

  <h2>Rocky ground</h2>
  <p>Non-flying charge movements across rocky ground suffers -2” movement.</p>

  <h2>Fog</h2>
  <p>Blocks line of sight</p>
  <p>Units within a fog gain +0/+2/+0 defence. (This is mostly applicable to units not completely within the fog, so that LOS still can be drawn)</p>
  <p>Flying units are capped at 3" movement while any part of their movement goes through fog</p>

  <h2>Notes about line of sight</h2>
  <p>Units completely within forests or fog cannot see enemy units as well for example for ranged attacks</p>
  <p>In order to have line-of-sight, a line must be able to be drawn that does not pass though any LOS blocking terrain.</p>

</div>
