<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>
    Rules overview
  </h1>

  <!-- role=list necessary because WebKit removes list semantic when list-style-type: none -->
  <ol class="toc-list" role="list">

    <li>
      <a routerLink="introduction">
        <span class="title">Introduction</span>
      </a>
      <ol role="list">

        <li>
          <a routerLink="gameOverview">
            <span class="title">Game Overview</span>
          </a>
        </li>

      </ol>
    </li>

    <li>
      <a routerLink="playingTheGame">
        <span class="title">Playing The Game</span>
      </a>
      <ol role="list">

        <li>
          <a routerLink="roundDesc">
            <span class="title">Description of a Round</span>
          </a>
        </li>

        <li>
          <a routerLink="turnDesc">
            <span class="title">Description of a Turn</span>
          </a>
        </li>

      </ol>
    </li>

    <li>
      <a routerLink="keyConcepts">
        <span class="title">Key Concepts</span>
      </a>
    </li>

    <li>
      <!-- <a routerLink="profiles"> -->
        <span class="title">Profiles</span>
      <!-- </a> -->
      <ol role="list">

        <li>
          <a routerLink="diceProfile">
            <span class="title">Dice Profile</span>
          </a>
        </li>

        <li>
          <a routerLink="unitProfile">
            <span class="title">Unit</span>
          </a>
        </li>

      </ol>
    </li>

    <li>
      <a routerLink="orders">
        <span class="title">Orders</span>
      </a>
      <ol role="list">

        <li>
          <a routerLink="normalOrders">
            <span class="title">Normal Orders</span>
          </a>
        </li>

        <li>
          <a routerLink="reactiveOrders">
            <span class="title">Reactive Orders</span>
          </a>
        </li>

        <li>
          <a routerLink="combatOrders">
            <span class="title">Combat Orders</span>
          </a>
        </li>

      </ol>
    </li>

    <li>
      <a routerLink="otherConcepts">
        <span class="title">Other Concepts</span>
      </a>
      <ol role="list">

        <li>
          <a routerLink="flanking">
            <span class="title">Flanking</span>
          </a>
        </li>

        <li>
          <a routerLink="pushes">
            <span class="title">Pushes</span>
          </a>
        </li>

        <li>
          <a routerLink="xp">
            <span class="title">Experience and Leveling</span>
          </a>
        </li>

        <li>
          <a routerLink="legends">
            <span class="title">Legendary Heroes</span>
          </a>
        </li>

      </ol>
    </li>

    <li>
      <a routerLink="magic">
        <span class="title">Magic</span>
      </a>
      <ol role="list">

        <li>
          <a routerLink="castingSpells">
            <span class="title">Casting Spells</span>
          </a>
        </li>

        <li>
          <a routerLink="countering">
            <span class="title">Countering Spells</span>
          </a>
        </li>

      </ol>
    </li>

    <li>
      <a routerLink="armyRecruitment">
        <span class="title">Army Recruitment</span>
      </a>
      <ol role="list">

        <li>
          <a routerLink="recruiting">
            <span class="title">Recruiting</span>
          </a>
        </li>

        <li>
          <a routerLink="upkeep">
            <span class="title">Upkeep</span>
          </a>
        </li>

        <li>
          <a routerLink="fieldAllowance">
            <span class="title">Maximum Field Allowance</span>
          </a>
        </li>

      </ol>
    </li>

    <li>
      <a routerLink="terrain">
        <span class="title">Terrain</span>
      </a>
    </li>

    <li>
      <a routerLink="scenarios">
        <span class="title">Scenarios</span>
      </a>
      <ol role="list">

        <!-- <li>
          <a routerLink="scenarioStructure">
            <span class="title">Scenario Structure</span>
          </a>
        </li>

        <li>
          <a routerLink="scenarioElements">
            <span class="title">Scenario Elements</span>
          </a>
        </li>

        <li>
          <a routerLink="victoryConditions">
            <span class="title">Common Victory Conditions</span>
          </a>
        </li> -->

        <li>
          <a routerLink="exampleScenario">
            <span class="title">Example Scenario</span>
          </a>
        </li>

      </ol>
    </li>

    <!-- <li>
      <a routerLink="factions">
        <span class="title">Factions</span>
      </a>
      <ol role="list">

        <li>
          <a routerLink="/rules/roundDescription">
            <span class="title">Structure of a Faction</span>
          </a>
        </li>

        <li>
          <a routerLink="/rules/roundDescription">
            <span class="title">Overview of Factions</span>
          </a>
        </li>

      </ol>
    </li> -->

  </ol>

</div>
