<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Key Concepts</h1>

  <h2>Resources</h2>
  <h3>Command Points</h3>
  <p>Command Points (CPs) are used to command your forces and direct them in battle. CPs are replenished at the start of
    every round, but at the same time,
    an upkeep must be paid in CPs depending on the number of units under your control.
    Additional CPs can be gained from various scenario elements and units.
  </p>

  <h3>Requisition Points</h3>
  <p>Requisition Points are used to muster new forces to your army. This can be done as your action during a turn and
    the
    unit will usually be placed next to your encampment.</p>

  <h3>Mana Points</h3>
  <p>Mana Points are used for casting, countering and dispelling spells.
    Mana points are replenished at the start of every round and can be gained via various scenario elements and some
    special units</p>

  <h2>Encampment</h2>
  <p>Your encampment is the location of your general, if this is destroyed, you will usually lose the game, but this can
    change dependant on the scenario played.</p>

</div>
