<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Key Concepts</h1>

  <p>Niebelung is a competitive strategy game in which two players clash on a battlefield; commanding and mustering units, heroes and monsters while
    battling the enemy and at the same time trying to complete various objectives, both scenario and faction specific.
  </p>
  <p>
    Before the game, a scenario is drafted from a wide range of options, these include terrain placement,
    objectives and the types of neutral enemies present during the battle.
    After this, the starting armies are selected and deployed.
  </p>
  <p>
    During the battle, the players regularly muster new units while balancing the upkeep cost of his/her army.
    The game is played in rounds which again is seperated into three turns.
    In each of the turns, the players alternate activating their units via commands paid for by Command Points and at the end of every turn, battles between engaged units are resolved.
    After each round, the objectives are scored and when certain conditions are met, the game ends.
  </p>
</div>
