<div class="ml-1">
  <p>During the combat phase, if two models are placed so that they can draw a line from their centerpoints through an
  enemy unit, the models are said to be flanking the enemy unit.</p>
  <p>When flanking occurs, the last unit that moved into contact with the enemy (the flanking unit) will get a flanking token. While having the flanking token, the unit
  gets the flanking bonus of its stat card.</p>

  <p>If a unit is both charging and receiving the flanking bonus, take the highest number of both effects for both the dice rolled and dice picked
     (eg. if the two bonuses are +1/+0 and +0/+1, the final result would be +1/+1)</p>
</div>
