.logo {
  position: fixed;
  opacity: .1;
  height: calc(100vh - 64px);
}

.bg {
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: #3c3c3c;
  height: 100vh;
  z-index: -2;
  position: fixed;
  width: 100%;
}

.stat-block {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .3rem;
  background-color: #dfdfdfbb;
  width: fit-content;
  border-radius: 3px;
  min-width: 36rem;
  max-width: 36rem;
  height: fit-content;
}

.unit-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

td:not(.ability-text):not(.ability-name) {
  text-align: center;
}

.ability-name {
  font-weight: bold;
}

tr:not(:last-of-type):not(.ability) {
  border-bottom: 1px dashed;
}

table {
  border-collapse: collapse;
}

th {
  min-width: 5rem;
  border-bottom: 1px solid;
}

th:not(:last-of-type) {
  border-right: 1px solid;
}

.effect-logo {
  margin-top: 5px;
  width: 25px;
}

.effect-logo2 {
  margin-left: 5px;
  margin-bottom: 5px;
  position: inherit;
  width: 25px;
  vertical-align: middle;
}

.damage-profile {
  height: 2.5rem;
}

.unit-abilities {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.ability-name-header {
  text-align: left;
}

.ability>td {
  padding-top: .1rem;
  line-height: 25px;
}

td {
  max-width: 30rem;
}

.ability-cost-item {
  vertical-align: text-bottom;
}

.tracks {
  margin-top: 1rem;
}

.ability-text {
  white-space: pre-line;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: .8rem;
  }

  .logo {
    left: -25rem;
  }

  .unit-name {
    font-size: .8rem;
  }

  .stat-block {
    margin-top: .6rem;
    margin-left: .6rem;
    margin-right: .6rem;
    padding-left: .2rem;
    padding-right: .2rem;
    padding-top: .2rem;
    padding-bottom: .1rem;
    min-width: 93vw;
  }

  .last-block .stat-block:last-of-type {
    margin-bottom: .6rem;
  }

  .stat-block div {
    font-size: .6rem;
  }

  table {
    width: 100%;
  }

  table>tr>th {
    font-size: .8rem;
    min-width: 0rem;
    padding-left: .2rem;
    padding-right: .2rem;
  }

  table>tr>td>* {
    font-size: .6rem;
  }

  table>tr>td {
    font-size: .6rem;
  }

  td {
    font-size: .7rem;
  }

  .damage-profile {
    height: 1rem !important;
  }

  .effect-logo2 {
    margin-left: 2px;
    margin-bottom: 2px;
    width: 15px !important;
  }
}
