<div *ngIf="unit$ | async as unit">


  <div class="bg"></div>

  <div fxLayout="row" fxLayoutAlign="center center" class="logo">
    <img src="{{unit.imageUrl}}" fxFlex="100">
  </div>

  <div fxLayout="row wrap">
    <div class="stat-block">
      <div class="unit-name">
        {{ unit.name }}
      </div>
      <table>
        <tr>
          <th>Movement</th>
          <th>Defense</th>
          <th>Resilience</th>
          <th>HP</th>
          <th>Req. Cost</th>
          <th>Base</th>
        </tr>
        <tr>
          <td>{{ unit.baseStats.movement }}</td>
          <td>{{ unit.baseStats.defense }}</td>
          <td>{{ unit.baseStats.resilience }}</td>
          <td>{{ unit.baseStats.hp }}</td>
          <td>{{ unit.baseStats.cost }}</td>
          <td>{{ unit.baseStats.base }}</td>
        </tr>
      </table>
    </div>

    <div class="stat-block">
      <div class="unit-abilities">
        Unit abilities
      </div>
      <table>
        <tr>
          <th class="ability-name-header">Name</th>
          <th>Cost</th>
          <th>Range</th>
          <th>Once per turn</th>
        </tr>
        <tbody *ngFor="let ability of unit.abilities">
          <tr class="ability">
            <td class="ability-name">{{ ability.name }}</td>
            <td>
              <div class="ability-cost">
                <span class="ability-cost-item">{{ ability.cost }}</span>
                <span class="ability-cost-item" *ngIf="ability.costCanBePaidWithSymbol" style="margin-left: 5px">
                  /</span>
                <img class="effect-logo2" src="../../../assets/FE.png">
              </div>
            </td>
            <td>{{ ability.range }}</td>
            <td>{{ ability.oncePerTurn | yesno }}</td>
          </tr>
          <tr>
            <td colspan="100" class="ability-text">
              {{ ability.description }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="stat-block">
      <div class="unit-abilities">
        Attacks
      </div>
      <table>
        <tr>
          <th>Name</th>
          <th>Range</th>
          <th>Dice</th>
          <th>Attacks</th>
          <th>Rend</th>
          <th>Flank Bonus</th>
        </tr>
        <tr *ngFor="let attack of unit.attacks">
          <td>{{ attack.name }}</td>
          <td>{{ attack.range }}</td>
          <td>{{ attack.dice }}</td>
          <td>{{ attack.attacks }}</td>
          <td>{{ attack.rend }}</td>
          <td>
            <div *ngFor="let bonus of attack.flankBonus">
              {{ bonus }}
            </div>
          </td>
        </tr>
      </table>

      <div class="tracks">
        <div *ngFor="let attack of unit.attacks">

          <div class="unit-abilities">
            {{ attack.name }}
          </div>
          <table>
            <tr>
              <th *ngIf="hasOneHit(attack)">1 hit</th>
              <th *ngIf="hasTwoHits(attack)">2 hits</th>
              <th *ngIf="hasThreeHits(attack)">3 hits</th>
              <th *ngIf="hasFourHits(attack)">4 hits</th>
              <th *ngIf="hasFiveHits(attack)">5 hits</th>
              <th *ngIf="hasSixHits(attack)">6 hits</th>
              <th *ngIf="hasSevenHits(attack)">7 hits</th>
              <th *ngIf="hasEightHits(attack)">8 hits</th>
            </tr>
            <tr *ngFor="let track of attack.damageTracks" class="damage-profile">
              <td *ngIf="hasOneHit(attack)">{{ track.hits1 }}</td>
              <td *ngIf="hasTwoHits(attack)">{{ track.hits2 }}</td>
              <td *ngIf="hasThreeHits(attack)">{{ track.hits3 }}</td>
              <td *ngIf="hasFourHits(attack)">{{ track.hits4 }}</td>
              <td *ngIf="hasFiveHits(attack)">{{ track.hits5 }}</td>
              <td *ngIf="hasSixHits(attack)">{{ track.hits6 }}</td>
              <td *ngIf="hasSevenHits(attack)">{{ track.hits7 }}</td>
              <td *ngIf="hasEightHits(attack)">{{ track.hits8 }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>



    <div class="stat-block">
      <div class="unit-abilities">
        Leveling abilities
      </div>
      <table>
        <tr>
          <th class="ability-name-header">Name</th>
          <th>Cost</th>
          <th>Range</th>
          <th>Once per turn</th>
        </tr>

        <tbody *ngFor="let levelingAbility of unit.levelingAbilities">
          <tr class="ability">
            <td class="ability-name">{{ levelingAbility.name }}</td>
            <td fxLayoutAlign="center center">{{ levelingAbility.cost }}</td>
            <td>{{ levelingAbility.range }}</td>
            <td>{{ levelingAbility.oncePerTurn | yesno }}</td>
          </tr>
          <tr>
            <td colspan="100" class="ability-text">
              {{ levelingAbility.description }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="stat-block" *ngIf="unit.objectives.length > 0">
      <div class="unit-abilities">
        Battlefield Objectives
      </div>
      <table>
        <tr>
          <th class="ability-name-header">Name</th>
          <th>Reward</th>
        </tr>
        <tbody *ngFor="let objective of unit.objectives">
          <tr class="ability">
            <td class="ability-name">{{ objective.name }}</td>
            <td>
              <span>{{ objective.reward }}</span>
            </td>
          </tr>
          <tr>
            <td colspan="100" class="ability-text">
              {{ objective.description }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
