<div class="bg"></div>

<div fxLayout="row" fxLayoutAlign="center center" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div fxLayout="row wrap">
  <div class="stat-block">
    <div class="unit-name">
      High Elves Spearmen
    </div>
    <table>
      <tr>
        <th>Movement</th>
        <th>Defense</th>
        <th>Resilience</th>
        <th>HP</th>
        <th>Req. Cost</th>
        <th>Base</th>
      </tr>
      <tr>
        <td>4" / 7"</td>
        <td>4/4/4</td>
        <td>1</td>
        <td>12</td>
        <td>2 CP</td>
        <td>50mm</td>
      </tr>
    </table>
  </div>

  <div class="stat-block">
    <div class="unit-abilities">
      Attacks
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Range</th>
        <th>Dice</th>
        <th>Attacks</th>
        <th>Rend</th>
        <th>Flank Bonus</th>
      </tr>
      <tr>
        <td>Spear</td>
        <td>Melee</td>
        <td>4/3</td>
        <td>2</td>
        <td>1</td>
        <td>
          <div>
            +0 / +1
          </div>
          <div>
            -1 melee defense
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="stat-block">
    <div class="unit-abilities">
      Unit abilities
    </div>
    <table>
      <tr>
        <th class="ability-name-header">Name</th>
        <th>Cost</th>
        <th>Range</th>
        <th>Once per turn</th>
      </tr>
      <tr class="ability">
        <td class="ability-name">Glimmering Shields</td>
        <td>
          <span>1 CMD / </span>
          <span><img class="effect-logo2" src="../../../assets/FE.png"></span>
        </td>
        <td>Melee</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td colspan="100" class="ability-text">
          During target unit's next combat round, it rolls one fewer dice with each attack, down to a min. of one.
        </td>
      </tr>
    </table>
  </div>

  <div class="stat-block">
    <div class="unit-abilities">
      Spear
    </div>
    <table>
      <tr>
        <th>1 hit</th>
        <th>2 hits</th>
        <th>3 hits</th>
        <th>4 hits</th>
        <th>5 hits</th>
      </tr>
      <tr class="damage-profile">
        <td>2 dmg</td>
        <td>3 dmg</td>
        <td>4 dmg</td>
        <td>5 dmg</td>
        <td>6 dmg</td>
      </tr>
      <tr class="damage-profile">
        <td></td>
        <td>2" Push</td>
        <td><img class="effect-logo" src="../../../assets/FE.png"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="stat-block">
    <div class="unit-abilities">
      Leveling abilities
    </div>
    <table>
      <tr>
        <th class="ability-name-header">Name</th>
        <th>Cost</th>
        <th>Range</th>
        <th>Once per turn</th>
      </tr>

      <tr class="ability">
        <td class="ability-name">Shield Wall</td>
        <td fxLayoutAlign="center center">1 CMD</td>
        <td>Self</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td colspan="100" class="ability-text">
          A unit can use this ability as part of an advance order. The unit will receive a +1/+2/+0 bonus to it’s
          defence,
          but suffer a -2” movement penalty as long as the ability is in effect. The effect can be ended anytime just
          before receiving an order. The unit can only select defensive combat orders.
        </td>
      </tr>

      <tr class="ability">
        <td class="ability-name">Wall of Spears</td>
        <td fxLayoutAlign="center center">1 CMD</td>
        <td>Self</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td colspan="100" class="ability-text">
          The unit can use this command as a reaction to being charged by a cavalry unit while not engaged by any
          other
          unit.
          This unit gets to make an attack immediately, as part of the enemy units activation.
          In the following combat round, the enemy unit loses any charge bonus for attacks targeting this unit.
        </td>
      </tr>
    </table>
  </div>

  <div class="stat-block">
    <div class="unit-abilities">
      Battlefield Objectives
    </div>
    <table>
      <tr>
        <th class="ability-name-header">Name</th>
        <th>Reward</th>
      </tr>
      <tr class="ability">
        <td class="ability-name">Securing the Homeland</td>
        <td>
          <span>1 VP</span>
        </td>
      </tr>
      <tr>
        <td colspan="100" class="ability-text">
          When scoring VP for controlling an objective, this unit scores 1 extra VP.
        </td>
      </tr>
    </table>
  </div>
</div>
