.logo {
  position: fixed;
  opacity: .1;
  height: calc(100vh - 64px);
}

.bg {
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: #3c3c3c;
  height: 100vh;
  z-index: -2;
  position: fixed;
  width: 100%;
}

.stat-block {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .3rem;
  background-color: #dfdfdfbb;
  width: fit-content;
  border-radius: 3px;
  min-width: 36rem;
  max-width: 36rem;
  height: fit-content;
}

.unit-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

td:not(.ability-text):not(.ability-name) {
  text-align: center;
}

.ability-name {
  font-weight: bold;
}

tr:not(:last-of-type):not(.ability) {
  border-bottom: 1px dashed;
}

table {
  border-collapse: collapse;
}

th {
  min-width: 5rem;
  border-bottom: 1px solid;
}

th:not(:last-of-type) {
  border-right: 1px solid;
}

.effect-logo {
  margin-top: 5px;
  width: 25px;
}

.effect-logo2 {
  margin-left: 5px;
  margin-bottom: 5px;
  position: inherit;
  width: 25px;
  vertical-align: middle;
}

.damage-profile {
  height: 2.5rem;
}

.unit-abilities {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.ability-name-header {
  text-align: left;
}

.ability > td {
  padding-top: .1rem;
  line-height: 25px;
}

td {
  max-width: 30rem;
}

.ability-cost-item {
  vertical-align: text-bottom;
}

.tracks {
  margin-top: 1rem;
}
