<div *ngIf="unit$ | async as unit">
  <div class="bg"></div>

  <div fxLayout="row" fxLayoutAlign="center center" class="logo">
    <img src="{{unit.imageUrl}}" fxFlex.gt-xs="100" class="{{unit.color}} image">
  </div>

  <div class="content" fxLayout="row wrap" fxLayout.xs="column">

    <div class="{{unit.color}}-light">
      <!-- Unit Name -->
      <div class="stat-block">
        <div class="unit-name">
          {{ unit.name }}
        </div>
        <table>
          <tr>
            <th>Movement</th>
            <th>Defense</th>
            <th>Resilience</th>
            <th>HP</th>
            <th>Req. Cost</th>
            <th>Base</th>
          </tr>
          <tr>
            <td>{{ unit.baseStats.movement }}</td>
            <td>{{ unit.baseStats.defense }}</td>
            <td>{{ unit.baseStats.resilience }}</td>
            <td>{{ unit.baseStats.hp }}</td>
            <td>{{ unit.baseStats.cost }}</td>
            <td>{{ unit.baseStats.base }}</td>
          </tr>
        </table>
      </div>

      <!-- Attacks -->
      <div class="stat-block" *ngIf="unit.attacks.length > 0">
        <div class="unit-abilities">
          Attacks
        </div>
        <table>
          <tr>
            <th>Name</th>
            <th>Range</th>
            <th>Dice</th>
            <th>Attacks</th>
            <th>Rend</th>
            <th>Charge Bonus</th>
            <th>Flank Bonus</th>
          </tr>
          <tr *ngFor="let attack of unit.attacks">
            <td>{{ attack.name }}</td>
            <td>{{ attack.range }}</td>
            <td>{{ attack.dice }}</td>
            <td>{{ attack.attacks }}</td>
            <td>{{ attack.rend }}</td>
            <td>
              <div *ngFor="let bonus of attack.chargeBonus">
                {{ bonus }}
              </div>
            </td>
            <td>
              <div *ngFor="let bonus of attack.flankBonus">
                {{ bonus }}
              </div>
            </td>
          </tr>
        </table>

        <div class="tracks">
          <div *ngFor="let attack of unit.attacks">

            <div class="unit-abilities">
              {{ attack.name }}
            </div>
            <table>
              <tr>
                <th *ngIf="hasOneHit(attack)">1 hit</th>
                <th *ngIf="hasTwoHits(attack)">2 hits</th>
                <th *ngIf="hasThreeHits(attack)">3 hits</th>
                <th *ngIf="hasFourHits(attack)">4 hits</th>
                <th *ngIf="hasFiveHits(attack)">5 hits</th>
                <th *ngIf="hasSixHits(attack)">6 hits</th>
                <th *ngIf="hasSevenHits(attack)">7 hits</th>
                <th *ngIf="hasEightHits(attack)">8 hits</th>
              </tr>
              <tr *ngFor="let track of attack.damageTracks" class="damage-profile">
                <td *ngIf="hasOneHit(attack)"><div *ngIf="track.hits1 === 'Symbol' else h1"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h1>{{ track.hits1 }}</ng-template></td>
                <td *ngIf="hasTwoHits(attack)"><div *ngIf="track.hits2 === 'Symbol' else h2"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h2>{{ track.hits2 }}</ng-template></td>
                <td *ngIf="hasThreeHits(attack)"><div *ngIf="track.hits3 === 'Symbol' else h3"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h3>{{ track.hits3 }}</ng-template></td>
                <td *ngIf="hasFourHits(attack)"><div *ngIf="track.hits4 === 'Symbol' else h4"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h4>{{ track.hits4 }}</ng-template></td>
                <td *ngIf="hasFiveHits(attack)"><div *ngIf="track.hits5 === 'Symbol' else h5"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h5>{{ track.hits5 }}</ng-template></td>
                <td *ngIf="hasSixHits(attack)"><div *ngIf="track.hits6 === 'Symbol' else h6"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h6>{{ track.hits6 }}</ng-template></td>
                <td *ngIf="hasSevenHits(attack)"><div *ngIf="track.hits7 === 'Symbol' else h7"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h7>{{ track.hits7 }}</ng-template></td>
                <td *ngIf="hasEightHits(attack)"><div *ngIf="track.hits8 === 'Symbol' else h8"><img class="effect-logo2" src="../../../assets/FE.png"></div><ng-template #h8>{{ track.hits8 }}</ng-template></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!-- Battlefield Objectives -->
      <div class="stat-block" *ngIf="unit.objectives.length > 0">
        <div class="unit-abilities">
          Battlefield Objectives
        </div>
        <table>
          <tr>
            <th class="ability-name-header">Name</th>
            <th>Reward</th>
          </tr>
          <tbody *ngFor="let objective of unit.objectives">
            <tr class="ability">
              <td class="ability-name">{{ objective.name }}</td>
              <td>
                {{ objective.reward }}
              </td>
            </tr>
            <tr>
              <td colspan="100" class="ability-text">
                {{ objective.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="last-block {{unit.color}}-light">
      <!-- Unit Abilities -->
      <div class="stat-block" *ngIf="unit.activeAbilities.length > 0">
        <div class="unit-abilities">
          Active abilities
        </div>
        <table>
          <tr>
            <th class="ability-name-header">Name</th>
            <th>Cost</th>
            <th>Range</th>
            <th>Once per turn</th>
          </tr>
          <tbody *ngFor="let ability of unit.activeAbilities">
            <tr class="ability">
              <td class="ability-name">{{ ability.name }}</td>
              <td>
                <div class="ability-cost" fxLayout="row" fxLayoutAlign="center center">
                  <div class="ability-cost-item">{{ ability.cost }}</div>
                  <div class="ability-cost-item" *ngIf="ability.costCanBePaidWithSymbol" style="margin-left: 5px">
                    / <img class="effect-logo2" src="../../../assets/FE.png"></div>

                </div>
              </td>
              <td>{{ ability.range }}</td>
              <td>{{ ability.oncePerTurn | yesno }}</td>
            </tr>
            <tr>
              <td colspan="100" class="ability-text">
                {{ ability.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

       <!-- Unit Abilities -->
       <div class="stat-block" *ngIf="unit.passiveAbilities.length > 0">
        <div class="unit-abilities">
          Passive abilities
        </div>
        <table>
          <tr>
            <th class="ability-name-header">Name</th>
          </tr>
          <tbody *ngFor="let ability of unit.passiveAbilities">
            <tr class="ability">
              <td class="ability-name">{{ ability.name }}</td>
            </tr>
            <tr>
              <td colspan="100" class="ability-text">
                {{ ability.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

       <!-- Spells -->
       <div class="stat-block" *ngIf="unit.spells.length > 0">
        <div class="unit-abilities">
          Spells
        </div>
        <table>
          <tr>
            <th class="ability-name-header">Name</th>
            <th>Cost</th>
            <th>Range</th>
            <th>Times per turn</th>
          </tr>
          <tbody *ngFor="let spell of unit.spells">
            <tr class="ability">
              <td class="ability-name">{{ spell.name }}</td>
              <td>
                <div class="ability-cost" fxLayout="row" fxLayoutAlign="center center">
                  <div class="ability-cost-item">{{ spell.cost }}</div>
                  <div class="ability-cost-item" *ngIf="spell.costCanBePaidWithSymbol" style="margin-left: 5px">
                    / <img class="effect-logo2" src="../../../assets/FE.png"></div>

                </div>
              </td>
              <td>{{ spell.range }}</td>
              <td>{{ spell.timesPerTurn }}</td>
            </tr>
            <tr>
              <td colspan="100" class="ability-text">
                {{ spell.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Active Leveling Abilities -->
      <div class="stat-block" *ngIf="unit.activeLevelingAbilities.length > 0">
        <div class="unit-abilities">
          Leveling abilities
        </div>
        <table>
          <tr>
            <th class="ability-name-header">Name</th>
            <th>Cost</th>
            <th>Range</th>
            <th>Once per turn</th>
            <th>Upgrade Cost</th>
          </tr>

          <tbody *ngFor="let levelingAbility of unit.activeLevelingAbilities">
            <tr class="ability">
              <td class="ability-name">{{ levelingAbility.name }}</td>
              <td>{{ levelingAbility.cost }}</td>
              <td>{{ levelingAbility.range }}</td>
              <td>{{ levelingAbility.oncePerTurn | yesno }}</td>
              <td>{{ levelingAbility.experienceCost }}</td>
            </tr>
            <tr>
              <td colspan="100" class="ability-text">
                {{ levelingAbility.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

       <!-- Passive Leveling Abilities -->
       <div class="stat-block" *ngIf="unit.passiveLevelingAbilities.length > 0">
        <div class="unit-abilities">
          Leveling abilities
        </div>
        <table>
          <tr>
            <th class="ability-name-header">Name</th>
            <th>Upgrade Cost</th>
          </tr>

          <tbody *ngFor="let levelingAbility of unit.passiveLevelingAbilities">
            <tr class="ability">
              <td class="ability-name">{{ levelingAbility.name }}</td>
              <td>{{ levelingAbility.experienceCost }}</td>
            </tr>
            <tr>
              <td colspan="100" class="ability-text">
                {{ levelingAbility.description }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
