<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Introduction</h1>

  <p>
    Welcome players, to Niebelung, the competitive skirmish game of tiny models at an army scale.
    In this game, you will command large armies while still being able to transport it all in a small bag.
    You will be entering a familiar world while commanding your forces in a novel and dynamic way.
  </p>
  <p>
    Select between 5 different armies; from the rampaging Chaos Despoilers, set on an objective to desecrate the world
    for their chaotic gods,
    to the elusive Wood Elves who ambushes and delays the opponent until the forests have grown strong and ready to
    strike.
    Maybe you favor the lowly Men-at-Arms and their mounted lords of the Knightly Realms - these put their faith in
    the Lady of the Lake to inspire them
    and grants them holy blessings in their fight against the might of Chaos.
    Lurking in the shadows, the Sanguine Court gathers power as they leech on the destruction of Chaos to raise the dead
    and prey on the blood of the living.
    Finally, the Noble Elves, determined to restore order to the world, seeks to muster their formidable forces in
    returning the dead to their graves and the demons to the void.
  </p>
  <p>
    We, the designers, have taken inspiration from many other board-, war- and digital strategy games
    in order to destill it all into a competitive and balanced game that we sincerely hope that you will like.</p>
</div>
