<div class="main-container">
  <mat-toolbar class="toolbar" color="primary" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">

      <button mat-icon-button class="menu-toggle" [matMenuTriggerFor]="factions">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #factions="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="nobleElves">Noble Elves</button>
        <button mat-menu-item [matMenuTriggerFor]="court">The Sanguine Court</button>
        <button mat-menu-item [matMenuTriggerFor]="neutrals">Neutrals</button>
      </mat-menu>

      <mat-menu #nobleElves="matMenu">
        <button mat-menu-item routerLink="/faction/1">Faction Rules</button>
        <button mat-menu-item [matMenuTriggerFor]="neSubfactions">Subfactions</button>
        <button mat-menu-item [matMenuTriggerFor]="neCharacters">Characters</button>
        <button mat-menu-item [matMenuTriggerFor]="neUnits">Units</button>
        <!-- <button mat-menu-item [matMenuTriggerFor]="neLegends">Legends</button> -->
      </mat-menu>

      <mat-menu #court="matMenu">
        <button mat-menu-item routerLink="/faction/2">Faction Rules</button>
        <button mat-menu-item [matMenuTriggerFor]="courtSubfactions">Subfactions</button>
        <button mat-menu-item [matMenuTriggerFor]="courtCharacters">Characters</button>
        <button mat-menu-item [matMenuTriggerFor]="courtUnits">Units</button>
        <!-- <button mat-menu-item [matMenuTriggerFor]="courtLegends">Legends</button> -->
      </mat-menu>

      <mat-menu #neSubfactions="matMenu">
        <button mat-menu-item routerLink="/subfaction/1">Horse Lords of Riverdale</button>
        <button mat-menu-item routerLink="/subfaction/2">The Shining Company</button>
        <!-- <button mat-menu-item>Cities of the Northern Coast</button> -->
        <!-- <button mat-menu-item>The Towers of Elduar</button> -->
      </mat-menu>

      <mat-menu #neCharacters="matMenu">
        <button mat-menu-item routerLink="/unit/4">Fireborn Mage</button>
        <button mat-menu-item routerLink="/unit/6">Highborn Lord</button>
      </mat-menu>

      <mat-menu #neUnits="matMenu">
        <button mat-menu-item routerLink="/unit/7">Encampment</button>
        <button mat-menu-item routerLink="/unit/1">House Guard Spearmen</button>
        <button mat-menu-item routerLink="/unit/2">House Guard Archers</button>
        <button mat-menu-item routerLink="/unit/3">Giant Eagle</button>
        <button mat-menu-item routerLink="/unit/5">Bolt Thrower</button>
      </mat-menu>

      <mat-menu #neLegends="matMenu">
        <!-- <button mat-menu-item>The Dragon Price</button> -->
      </mat-menu>

      <mat-menu #courtSubfactions="matMenu">
        <button mat-menu-item routerLink="/subfaction/SC1">Bloodborn</button>
        <button mat-menu-item routerLink="/subfaction/SC2">The Living Dead</button>
        <button mat-menu-item routerLink="/subfaction/SC3">Nightstalkers</button>
      </mat-menu>

      <mat-menu #courtCharacters="matMenu">
        <button mat-menu-item routerLink="/unit/SC2">Necromancer</button>
        <button mat-menu-item routerLink="/unit/SC6">Nighthaunt Vampire</button>
      </mat-menu>

      <mat-menu #courtUnits="matMenu">
        <button mat-menu-item routerLink="/unit/SC7">Sepulcher</button>
        <button mat-menu-item routerLink="/unit/SC1">The Restless</button>
        <button mat-menu-item routerLink="/unit/SC3">Wailing Ghouls</button>
        <button mat-menu-item routerLink="/unit/SC5">Blood Knights</button>
        <button mat-menu-item routerLink="/unit/SC4">Werewolf Pack</button>
      </mat-menu>

      <mat-menu #courtLegends="matMenu">
        <!-- <button mat-menu-item>Lord of the Night</button> -->
      </mat-menu>

      <mat-menu #neutrals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="neutralUnits">Units</button>
      </mat-menu>

      <mat-menu #neutralUnits="matMenu">
        <button mat-menu-item routerLink="/unit/N1">Night Goblins</button>
      </mat-menu>

      <h1>Nibelung v1.1</h1>

    </div>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
