<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <p>
    When you select a push effect against an enemy unit, it is not pushed immidiately, instead it gains a Push token,
    this token is resolved at the end of the current combat phase.</p>
  <p>At the end of combat, you count up the amount of push tokens dealt out vs the amount recieved from opposing units.
    If the amount recieved is greater than the amount dealt out,
    you are pushed "Short" away from the enemy unit that dealt the most pushes against you</p>
  <p>When pushing an enemy unit, you move the unit straight along the movement tool until either he full push distance
    is achieved or the unit contacts another unit or terrain</p>
  <p>After pushing an enemy unit, you may make a Short move towards the enemy unit, but must still stay engaged (within range 1) of all units your unit is currently engaging</p>
  <p>If a unit is pushed itself by another unit, it cannot make a short move towards any unit it pushed itself.</p>
</div>>
