<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <p>When pushing an enemy unit, you move the unit the pushed distance as if doing a normal movement with the unit</p>
  <p>After pushing the enemy unit, you must place the pushing unit in base contact with the pushed unit, as close to its
    original position as possible</p>
  <p>A pushed unit can only be pushed so far as to still be able to make contact with the pushing unit.
    <span class="cursive">This can shorten pushes if a larger based unit tries to push a smaller based unit in between impassible terrain or
    other units.</span></p>
  <p>You can only push an enemy unit once per combat phase, further pushes has no effect</p>
</div>>
