<div class="ml-1">
  <h2>Normal Orders</h2>
  <table>
    <tr>
      <th>
        Order Name
      </th>
      <th>
        Cost
      </th>
      <th>
        Effect
      </th>
    </tr>

    <tr>
      <td>Advance</td>
      <td>1 CP</td>
      <td>Allows the unit to move up to its normal move allowance</td>
    </tr>
    <tr>
      <td>Charge</td>
      <td>1 CP</td>
      <td>
        <p>Allows the unit to move its charge movement. Can only be performed if the unit has enough charge movement to
          come into contact with an enemy unit (incl. distance subtracted by terrain and other effects).</p>
        <p>A charging unit must complete the charge if possible. If an enemy reaction (fx the 'Flee' charge reaction)
          brings the enemy out of range, the charging unit must most as close to the enemy unit as possible with their
          charge movement.</p>
        <p>A charging unit gets its charge-bonus ability from the unit profile for the subsequent round of combat.</p>
      </td>
    </tr>

    <tr>
      <td>Fire</td>
      <td>1 CP</td>
      <td>Allows unit to shoot with their ranged weapons in the combat phase.</td>
    </tr>

    <tr>
      <td>Rally</td>
      <td>1 CP</td>
      <td>Stops the unit retreating.</td>
    </tr>

    <tr>
      <td>Seize Objective</td>
      <td>1 CP</td>
      <td>Allows the unit to pick up an objective in base contact.</td>
    </tr>

  </table>
</div>
