<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Max field allowance</h1>

  <p>
    Every army starts with some predefined starting units. From there on, you can, at the start of every round after the
    first, recruit additional troops for a cost in CP. When recruiting you must obey the following general unit limits
    unless army specific rules overrule this.
  </p>

  <table>
    <tr>
      <th>
        Unit type
      </th>
      <th>
        Max Allowance
      </th>
    </tr>

    <tr>
      <td>Infantry</td>
      <td>max 3 of the same type</td>
    </tr>
    <tr>
      <td>Mounted units</td>
      <td>max 2 of the same type</td>
    </tr>
    <tr>
      <td>Flying units</td>
      <td>max 2 of the same type</td>
    </tr>
    <tr>
      <td>Named characters</td>
      <td>max 1 of the same type</td>
    </tr>
    <tr>
      <td>Warmachines</td>
      <td>max 2 of the same type</td>
    </tr>
  </table>
</div>
