<div class="ml-1">
  <h1>Experience and leveling</h1>

  <p>Experience tokens can be gained from dice and these tokens can be stored until the start of the next round where units
  can buy new abilities, a max of 12 tokens can be stored.</p>

  <p>When a new round start, units can individually (per single unit, upgrades are not shared even by units of the same type) purchase upgrades for the stated cost on their cards. Mark the upgraded units so that you know that they've been upgraded.</p>

  <p class="cursive">Experience tokens can also be gained from any excess command points at the end of a round, one command point equals
  one experience token.</p>

</div>
