<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Casting spells</h1>

  <p>
    Spells typically have a short range, between 6”-10”, but the range can be extended by casting spells through other
    mages or certain spell channelers.
  </p>

  <p>Some spell (marked as an 'arcana' spell) will use the mages spell-attack dice on his profile when targeting enemy units and might even have a  inbuilt plus or minus to the amount of dice both available and picked, marked as so: +1/+1 for example.
    Other spells (marked as an 'enchantment') will hit automatically on both friendly an enemy units.
  </p>

  <p>
    To cast a spell you need to at least pay its cost in mana points, you can empower the spell and pay mana points in
    addition to the cost, by doing that you make it even more costly for the opponent to counter it. Certain spells will
    also have a special effect when empowered.
  </p>

  <p>Each spell can only be cast the amount of times listed on the mages stat card,
     but multiple mages gain cummulative castings, so two mages with the same single-cast spell means that they each can cast it once</p>
</div>
