<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <p class="cursive">
    Orders is the way you command units to take action during a turn.
  </p>

  <div>
    While having an officer within 6” of a unit, you can give out orders to a unit for no additional cost.
  </div>
  <div>
    If no officers are present within 6”, each order costs an additional command point to issue.
  </div>


  <h3 class="mt-1">Profile of an order</h3>
  <table>
    <tr>
      <th>
        Stat
      </th>
      <th>
        Description
      </th>
    </tr>

    <tr>
      <td>Order description</td>
      <td>What the order allows the unit to do</td>
    </tr>
    <tr>
      <td>Order cost</td>
      <td>How many command points the order costs (you can only issue orders up to your command point total, command
        points are refreshed every turn)</td>
    </tr>

  </table>
</div>
