<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Round Description</h1>

  <h2>At the start of every round you do the following</h2>
  <ol>
    <li>
      Replenish Command Points and Mana Points (these does not carry over from one round to another),
       then gain additional Requisition Points (these are stored from previous rounds).
    </li>
    <li>
      Pay upkeep (in CP) for the units you currently have under your control
    </li>
    <li>
      Determine who will have the initiative in the first turn
    </li>
  </ol>

  <h2>At the end of every round, you do the following</h2>
  <ol>
    <li>
      Score victory points from objectives according to the scenario
    </li>
    <li>
      Check if the game has ended (either if there's a winner by being ahead in VP or by having completed round 7)
    </li>
    <li>
      Respawn neutral units and objectives, according to scenario.
    </li>
    <li>
      Begin a new round
    </li>
  </ol>

  <p>
    A round consists of an activations phase (where players take turns activating units), a magic phase, a shooting phase, a melee phase and a cleanup phase.
  </p>

  <h2>Activations phase</h2>
  <p class="cursive">This is the phase where units are activated and issued orders</p>
  <p>During this phase, initiative switches between the players. When a player has his turn, he may choose to do one
    of the following things:</p>
  <ul>
    <li>Pay CPs to give an order to a unit, thereby activating it.</li>
    <li>Recruit a new unit</li>
    <li>Pay 1 CP to skip</li>
    <li>Pass the rest of the round</li>
  </ul>

  <p>The player who first passes the rest of the turn does not get to have the initiative back for the rest of the turn,
    his opponent can keep selecting from the options above, but instead he get to be the 'leading' player for the
    shooting and the melee phase. The first player to pass will have the first initiative for the next turn.</p>

  <p class="cursive">Before or after selecting one of these options, he may also cast one or more spells by paying the
    appropriate mana cost.</p>
  <p>After the player has finished this, the turn goes to the opponent</p>

  <p>When both players are out of command points or have passed the rest of the round, the round moves to the magic and then the shooting and melee phase</p>

  <h2>Resolving combats</h2>

  <p class="cursive">Before going to the fighting phases, we need to explain how to resolve combat.</p>

  <p>When resolving combat, select a unit to fight and select its target. In case the unit is engaging multiple enemies,
    it must split its attacks as evenly as possible between all enemies it is engaging.
    Then, roll the units amount of dice (taking any modifiers from charging etc. into account), pick an amount of dice
    according to the units profile
    and sum the amount of hits rolled. Subtract the enemy defence and from this final result you can now select one or
    more results on the attacking
    units combat tracks. Finally, subtract the enemy Resilience from the amount of damage dealt and apply this damage to
    the enemy unit.
    If any XP was selected from the dice, collect these.</p>

  <h2>Magic phase</h2>
  <p>In initiative order, each player may cast a spell, pay 1 CP to pass or pass for the rest of the phase, when both players have passed for the phase, the phase ends</p>

  <h2>Shooting phase</h2>

  <p>Resolve all shoot orders given to units in the previous phase.
    Orders are resolved in reverse 'leading player' order, with the player not having the lead from the activations
    phase selecting a unit
    to go first, after which it goes back and forth between players until all shoot orders have been resolved.
  </p>
  <p>All shooting are simultaneous, so even units that are reduced to zero HP will still get to perform their attacks.
  </p>
  <p>At the end of the phase, resolve all push tokens, the leading player will decide the order.
    When this has been resolved, move to the melee phase</p>

  <h2>Melee phase</h2>

  <p>Resolve all melee combats, the playing having 'the lead' selecting the order in which combats are resolved.
    At the end of the phase, resolve all push tokens, again the leading player will decide the order</p>

  <h2>Cleanup phase</h2>
  <p>Cleanup any expired tokens and spent CPs and move all units that chose the 'Flee' combat order in initiative order
    (the players moving one unit at a time, starting with the non-leading player).</p>

</div>
