<div class="ml-1">
  <h1>Playing Niebelung</h1>

  <p>
    This is a short overview of how the game is played.
  </p>

  <h2>Game Setup</h2>
  Setup the game board, determine starting armies and get ready to play.

  <h3>Faction announcement</h3>
  <div class="cursive">You begin the game by announcing your faction of choice to the opponent.</div>

  <h3>Scenario Selection, terrain placement</h3>
  <div class="cursive">You select the scenario by choosing between a few different options for scenario, objectives and denizens
     - these also determine the terrain setup</div>

  <h3>Army Selection</h3>
  <div class="cursive">You each (in secret) select your sub-faction which determines your starting force</div>

  <h3>Deployment</h3>
  <p class="cursive">Going by initiative as determined earlier, you each deploy one unit at a time.</p>

  <h2>Game Start</h2>
  <div class="cursive">Game is now ready to start, in the first round, initiative is already determined, so this can be skipped</div>

  <h3>Playing a Round</h3>
  <div class="cursive">Resolve start of round, start</div>

  <h4>Resolve start of round</h4>
  <div class="cursive">First round is started by resolving the 'Start of Round' <a routerLink="../roundDesc">sequence</a></div>
  <div class="cursive">At the start of each round, you replenish resources, pay upkeep and determine initiative for the first turn.</div>

  <h4>Resolve turns</h4>
  <div class="cursive">Each of the <a routerLink="../turnDesc">turn phases</a> are resolved with the players alternating between having the initiative</div>

  <h4>Resolve end of round</h4>
  <div class="cursive">At the end of each round, victory points are scored, until-end-of-round effects are cleaned up, game-end is checked and if not, a new round is started</div>

  <h2>Game end</h2>
  <div class="cursive">When one of the game-end conditions are triggered, the game ends and a winner is determined</div>

</div>
