<div class="ml-1">
  <h1>Playing Niebelung</h1>

  <p>
    Before the game can begin, the players must draft the scenario, select their (sub) faction and setup the
    battlefield. Here you will find the rules for doing exactly so.
  </p>

  <h3>Faction announcement</h3>
  <p>You begin the game by announcing your faction of choice to the opponent and show them your selection of scenario
    cards.
    A 'Scenario card' comes in three types, The 'Battlefield' cards, the 'Primary Objective' cards and the 'Denizens of
    the Land' cards.
    Each player should have selected 2 of each type of card for a total of 6 cards.
  </p>

  <h3>Scenario Selection, battlefield setup</h3>
  <p>Next is drafting the scenario cards; the players put all of the scenario cards on the table sorted according to
    their type.
    Then, the players roll of to see who is 'first-bidder' (denoted Player A from now on, his opponent is Player B).
    The 'first-bidder' is the player who gets to bid on a scenario card first. In order to bid on a scenario card,
    Player A puts one Command token on any scenario card. Player B then has a choice, either accept the bid or place a
    Command token himself.
  </p>

  <h4>Accepting the bid</h4>
  <p>If a player accepts a bid, he takes all Command tokens at the chosen Scenario Card and this card is now the
    selection for that type of card. Remove the remaining 3 cards of the same type.
    Note that a player can only select a Scenario Card with his opponents tokens on it, not his own and not an empty
    card.
    This means that if all of the Scenario Cards of a certain type have none of his opponents tokens, then he cannot
    select that type of card.
  </p>

  <h4>Placing another Command Point</h4>
  <p>If the active player selects to place another Command token, he/she puts another Command Point on any remaining
    card that have none of his opponents Command tokens and pass the selection to his opponent.</p>

  <p>At the end of the selection process, there should be three selected Scenario Cards, one of each type,
    and each player should have some amount of Command tokens. These tokens are kept during the game and can be spend
    similar to Command Points. The player with the most command tokens are said to have the initiative in the following
    steps.</p>

  <p>The game is played on a 36" by 36" battlefield, now the table should be setup according to the rules described on
    the chosen Scenario cards.</p>

  <h3>Army Selection & Deployment</h3>
  <p>After the battlefield has been setup, You each (in secret) select your sub-faction which determines your starting
    force.
    Then, Going by initiative as determined earlier, you each deploy one unit at a time.</p>

  <h2>Game Start</h2>
  <p>Game is now ready to start, in the first round, initiative is already determined, so this can be
    skipped. The players now replenish resources and the first turn begins with the starting player taking an action.
  </p>

  <h4>Resolve turns</h4>
  <p>Each of the <a routerLink="../turnDesc">turn phases</a> are resolved with the players alternating
    between taking an action - this goes on until both players have selected to pass, after which the shooting, melee and cleanup phases are resolved.
    After this, a new turn begins until three turns have passed, then the round has ended.</p>

  <h4>Resolving End of Round</h4>
  <p>At the end of each round, victory points are scored, game-end conditions are checked and if not, a new round is started</p>

  <h2>Game end</h2>
  <p>When one of the game-end conditions are triggered, the game ends and a winner is determined</p>

</div>
