<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Example Scenario</h1>

  <h2>Battlefield: Darkwood</h2>
  <p class="cursive">The battle takes place near a dark forest, the trees are old and the ground is covered in moss and
    roots.</p>
  <p>There are 4 forest terrain elements on the map, each is a ~6”x6” piece of forest terrain. The terrain should be
    setup roughly according to this map: [Insert map when created].</p>

  <h3>Escalation level</h3>
  <p>Each player starts the game with a force worth at most 20 Req. points. At the start of every round, each player gains 5 RP + 1 RP per VP the enemy is ahead.</p>

  <h2>Primary Objective: Along the Watchtower</h2>
  <p>3 Watchtower objectives are placed on the map. First one is placed in the exact center of the map.
    Second and third are placed on the center line each on their own side of the center watchtower and 6” from their
    closest side of the map.</p>

  <p>Each Watchtower can be controlled by being the only player to have a contesting model within 1” of the objective.
    By controlling the objective, you gain 1 VP and 1 CP at the end of each round.
    In the last round (round 7) the objectives each grant 2 VP instead of 1.
  </p>
  <p>Destroying an enemy unit grants 1 VP and 2XP</p>

  <p>
    Each players headquarters and all starting units must be deployed anywhere at most 6” from the respective players
    own table edge.
  </p>

  <h2>Spoils of War Objective: Ancient Artifacts</h2>
  <p>4 artifacts (25mm bases) are placed on the map in the following locations as decribes as
    (x, y) coordinates from player 1:</p>
  <p>(4”, 14”), (12”, 22”), (24”, 14”), (32”, 22”)</p>
  <p>A 50mm based unit can pick up the artifact by ending a round within range 1 of it, after
    which the unit counts as carrying the artifact. Units with smaller bases cannot carry this artifact.</p>
  <p>A destroyed unit carrying an artifact will drop the artifact in place of the destroyed unit.</p>

  <p>A unit carrying an artifact can bring it to the controlling players encampment in order to score 2 VP.</p>

  <h3>Victory Conditions</h3>
  <p>A player wins the battle if he completes one of the following</p>
  <ul>
    <li>Destroys the enemy encampment.</li>
    <li>Is the first player to reach 20 VP.</li>
    <li>Is ahead by 6 VP or more after both players have completed scoring for a round.</li>
    <li>Is the player with the most VP at the end of the 10'th round.</li>
  </ul>

  <h2>Denizens: Hill Tribes</h2>
  <p class="cursive">The area is crawling with Night Goblins which must be eliminated, else they could spread and
    provide a nuisance to our supply lines.</p>

  <p>
    There are two locations for any neutral units, these are located at (12", 14") and (24", 22").
  </p>

  <p>Each neutral encampment on the table has a goblin unit present at the start of the battle, they will remain in
    their
    spawn location unless attacked. If attacked, they will move towards the attacking players nearest unit and attempt
    to engage</p>

  <p>Destroying a goblin unit grants 5 xp and 2 req. points.</p>

  <a routerLink="/unit/N1">Goblin Stats</a>

</div>
