<div class="ml-1">
  <h1>Example Scenario</h1>

  <!-- TODO: set this is correctly -->

  <h2>Card 1 - Scenario: Along the Watchtower</h2>
  <p>3 Watchtower objectives are placed on the map. First one is placed in the exact center of the map.
    Second and third are placed on the center line each on their own side of the center watchtower and 6” from their
    closest side of the map.</p>

  <p>Each Watchtower can be controlled by being the only player to have a contesting model within 3” of the objective.
    By controlling the objective, you gain 1 VP and 1 CP at the end of each round.</p>

  <p>
    In the last round (round 7) the objectives each grant 2 VP instead of 1
  </p>

  <p>
    Each players headquarters can be deployed anywhere at most 6” from the respective players own table edge.
  </p>

  <h2>Card 2 - Battlefield Objective: Ancient Artifacts</h2>
  <p>4 artifacts (25mm bases) are placed on the map in the following locations as decribes as
    (x, y) coordinates from player 1:</p>
  <p>(4”, 14”), (12”, 22”), (24”, 14”), (32”, 22”)</p>
  <p>A unit can pick up the artifact by moving into contact with it and ending a phase in base contact with it after
    which
    the unit counts as carrying the artifact.</p>
  <p>A destroyed unit carrying an artifact will drop the artifact in place of the destroyed unit.</p>

  <p>A unit carrying an artifact can bring it to the controlling players encampment in order to score 2 VP.</p>

  <h3>Escalation level</h3>
  <p>At the start of every round, each player gains 5 RP + 1 RP per VP the enemy is ahead.</p>

  <h3>Victory Conditions</h3>
  <p>A player wins the battle if he completes one of the following</p>
  <ul>
    <li>Destroys the enemy encampment.</li>
    <li>Is the first player to reach 16 VP.</li>
    <li>Is ahead by 6 VP or more after both players have completed scoring for a round.</li>
    <li>Is the player with the most VP at the end of the 7'th round.</li>
  </ul>

  <h2>Card 3 - Denizens: Hill Tribes</h2>
  <p class="cursive">The area is crawling with Night Goblins which must be eliminated, else they could spread and
    provide a nuisance to our
    supply lines.</p>

  <p>Each neutral encampment on the table has a goblin unit present at the start of the battle, they will remain in
    their
    spawn location unless attacked. If attacked, they will move towards the attacking players nearest unit and attempt
    to
    charge.</p>

  <p>Destroying a goblin unit grants 5 xp and 2 req. points.</p>

  <a routerLink="/unit/N1">Goblin Stats</a>

</div>
