<div fxLayout="row" fxLayoutAlign="start start" class="logo">
  <img src="../../../assets/high_elves/spears4.jpg" fxFlex="100">
</div>

<div class="ml-1">
  <h1>Other Concepts</h1>
  <h3>Exchanging resources</h3>
  <p>Excess Command Points (CP) can be exchanged at the end of each round; 2 CP for one Req. point <span class="cursive">or</span> 1 CP for 1 XP.</p>
  <p>During the turn, Req. points can be exchanged for CPs, one Req. point for one CP.</p>

  <h3>
    Controlling objectives
  </h3>
  <p>In order to 'Control' an objective, you need to be the only player having a non-fleeing unit within 2" of the objective when it is scored.</p>
</div>
